.container {
    height: 15%;
    width: 100%;
    background: #524EB6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container input {
    width: 75%;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
}

.container button {
    width: 20%;
    background: white;
    color: #524EB6;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;

}